@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    font-family: 'PT Sans', sans-serif;
}
body{
    height: 100%;
}
.outer-container{
    top: 0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}

.outer-container-heading{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 2px 10px;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: #4d4dff;
    box-shadow: 1px 2px 5px 2px #abafae;
}
.outer-container-heading div{ 
    height: 100%;
    font-size: large;
 }
 .outer-container-heading .heading{
    font-size: 2rem;
    padding: 10px;
    color: whitesmoke;
    text-shadow: 2px 3px #696969;
 }

.inner-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.states-dashboard,.district-dashboard{
    /* padding: 2%; */
    /* left: 10%; */
    margin-left: 6px;
    width: 20%;
    box-shadow: 2px 0 6px 2px #e0e0e0;
}
.states-dashboard span,.district-dashboard span{
    margin: 0 2%;
}
.states-dashboard div, .district-dashboard div{
    /* border-radius: 10px; */
    margin: 10px 0;
    padding: 15px;
    font-size: 25px;
}
.state:hover, .district:hover{
    color: #0080ff;
    cursor: pointer;
}
.slot-info{
    width: 80%;
    padding: 0;
    margin: 10px 0 0 0;
    position: relative;
    /* overflow: hidden; */
}
.slot-info .date-select .dates{
    /* height: 100%; */
    display: flex;
    justify-content: flex-end;
}
.slot-info .date-select .dates div{
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid rgba(0,0,255, 0.2);
    transition: border-bottom 0.6s linear, color 0.6s ;
}
.slot-info .date-select .dates div:hover{
    cursor: pointer;
    border-bottom:2px solid rgb(0,0,255, 0.6);
    color: #303030;
}
.slot-info .age-select{
    position: relative;
    /* height: 5%; */
    width: 100%;
    align-items: flex-end;
}
.age-select .age{
    /* position: absolute; */
    display: flex;
    /* right: 0; */
    justify-content: flex-end;
    margin-right: 2%;
}
.age-select .age div{
    margin: 12px;
    padding: 10px;
    border: solid 2px #e5e4e2;
    transition: border-width 0.6s linear, border-color 0.6s;
}
.age-select .age div:hover{
    cursor: pointer;
    border-color: #a9a9a9;
    border-width: 3px;
}
.slot{
    /* overflow-y: scroll; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    top: 0;
    /* height: 90%; */
}
.each-slot{
    padding: 10px;
    /* border: 2px solid rgba(0, 128, 255, 0.5); */
    /* background-color: blue; */
    margin: 10px;
    width: 20vw;
    height: 35vh;
    overflow: hidden;
    border-radius: 10px;
    transition: margin 0.2s ease-out;
    box-shadow: 0.5px 0.5px 5px 2px rgb(0, 128, 255);
}
.each-slot:hover{
    margin: 8px 10px 12px 10px;
}
.center-name{
    height: 30%;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-shadow: 1px 2px #696969; */
    color: #0080ff;
    /* box-shadow: 0 2px 1px 2px #0080ff; */
    border-bottom: 2px solid rgba(0, 128, 255, 0.5);
}
.vaccine-info{
    display: flex;
    font-size: 1rem;
    height: 25%;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    border-bottom: 2px solid rgba(0, 128, 255, 0.5);
}
.capacity-dose1, .capacity-dose2{
    width: 20%;
    text-align: center;
}
.vaccine-name{
    width: 60%;
    text-align: center;
}
.doseheading{
    font-size: 0.7rem;
}
.center-address{
    text-align: center;
    /* font-size: 1rem; */
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.center-address .addressheading{
    text-align: left;
    font-size: 0.7rem;
}

.age-active{
    background-color: #6593f5;
}
.show{
    display: hidden;
}

.back-btn{
    display: none;
    color: black;
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    .outer-container-heading .heading{
        font-size: 1.2rem;
     }
    .states-dashboard,.district-dashboard{
        width: 40%;
        /* height: 100%; */
    }
    .district-dashboard{
        z-index: 2;
        /* position: absolute; */
        left: 1%;
        background-color: whitesmoke;
    }
    .states-dashboard div, .district-dashboard div{
        /* border-radius: 10px; */
        margin: 5px 0;
        padding: 10px;
        font-size: 15px;
    }
    /* .states-dashboard div:active{
        display: none;
    } */
    .back-btn{
        display: flex;
        align-items: center;
    }
    .back-btn i{
       
        display: inline;
    }
    .back-btn span{
        margin-left: 2px;
    }
    .back-btn:hover i{
        color: khaki;
    }
    .age-select .age div{
        margin: 5px;
        padding: 5px;
        border: solid 2px #e5e4e2;
        transition: border-width 0.6s linear, border-color 0.6s;
        font-size: 0.6rem;
    }
    .slot-info{
        width: 50%;
    }
    .slot{
        display: block;
        width: 100%;
    }
    .each-slot{
        padding: 10px;
        /* border: 2px solid rgba(0, 128, 255, 0.5); */
        /* background-color: blue; */
        /* display: flex; */
        margin: 5%;
        width: 100%;
        height: 10%;
        overflow: hidden;
        border-radius: 10px;
        transition: margin 0.2s ease-out;
        box-shadow: 0.5px 0.5px 5px 2px rgb(0, 128, 255);
    }
    .each-slot:hover{
        margin: 8px 10px 12px 10px;
    }
    .center-name{
        width: 100%;
        height: 30%;
        font-size: 0.6rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* text-shadow: 1px 2px #696969; */
        color: #0080ff;
        /* box-shadow: 0 2px 1px 2px #0080ff; */
        border-bottom: 2px solid rgba(0, 128, 255, 0.5);
    }
    .vaccine-info{
        display: flex;
        font-size: 0.6rem;
        width: 100%;
        height: 25%;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */
        border-bottom: 2px solid rgba(0, 128, 255, 0.5);
    }
    .capacity-dose1, .capacity-dose2{
        width: 20%;
        text-align: center;
    }
    .vaccine-name{
        width: 60%;
        text-align: center;
    }
    .doseheading{
        font-size: 0.7rem;
    }
    .center-address{
        text-align: center;
        font-size: 0.6rem;
        /* height: 45%; */
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }
    .center-address .addressheading{
        text-align: left;
        font-size: 0.5rem;
    }
    
    .age-active{
        background-color: #6593f5;
    }

  }